body{
    background: url(../images/background.jpg)no-repeat center center fixed;
    height: auto;
    background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    margin-left: 28rem;
}

.header{
    color: yellow;
}

.howTo {
    color: lightblue;
}

.howTo li {
    text-align: left;
}

.userTot{
    color: orange;
}

.winsloss{
    color: white;
}

.gb{
    margin-left: 2em;
}

.z:active {
    animation: grow 1s linear;
}

@keyframes grow {
   from { height: 200px; width: auto; margin-top: -100px;  }
   to { height: 240px; width:auto;  } 
}

